/*'!important' will give immediate and final priority to a css property. don't overuse this...*/
.box1 {
    color: red important!;
}

/*allows text to wrap*/
.overflowing {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*import font libraries from url*/
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    body {
    font-family: 'Roboto', sans-serif;
}

/*box shadows*/
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    .box-shadow {box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);}
    /* inset | offset-x | offset-y | color */
    .box-shadow {box-shadow: inset 5em 1em gold;}

/*border radius*/
    /* top-left | top-right | bottom-right | bottom-left */
    .border-radius {border-radius: 1px 0 3px 4px;}
    /* (first radius values) / top-left | top-right | bottom-right | bottom-left 
    This one makes an eliptical shape due to the two sets of radius values*/
    .border-radius-elipses {border-radius: 10px 5% / 20px 25em 30px 35em;}  

/*overflow options 
overflow: visible;
overflow: hidden;
overflow: clip;
overflow: scroll;
overflow: auto;
overflow: hidden visible;*/
/*this provides a scrollbar that isn't it's own element. it's just laid over the container*/
* {
    overflow: overlay;
}

/*targeting attributes link linked material*/
[src] {}/* This will target any element that has a src attribute. */

img[src] {}/* This will only target img elements that have a src attribute. */

img[src="puppy.jpg"] {} /* This will target img elements with a src attribute that is exactly "puppy.jpg" */

[attribute^="value"] {} /*^= Will match strings from the start*/
[attribute$="value"] {} /*$= Will match strings from the end*/
[attribute*="value"] {} /**= The wildcard selector will match anywhere inside the string.*/
/*you can use any of these to select classes more generally, as classes are attributed*/