/* This document shows ways to position elements on a webpage. */
/* Static and relative positioning. */

div {
    position: static; /* Is the default positioning style. Top, left, etc. do not work. */
    position: relative; /* Allows you to use top, left, right, bottom to position an element. */
    position: absolute; /* Allows you to position something and take it out of the flow of the document. Icons on top of buttons, etc. */ 
    position: fixed; /* Fixes an element relative to the viewport. Use T, L, R, & B to move element to where you want, it will stay there as you scroll. */
    position: sticky; /* Positions an element on the page. When you scroll past it it becomes fixed to the top of the page. */
}
