:root {} /*this selects the root of the webpage. this is the highest parent, and is a good way to add in global css*/

/*this file is a reference page of possible pseudo selectors for css*/

/*pseudo-classes are called with one colon, pseudo-elements are called with two colons*/

p:first-child {} /*this selects the first element that fits the selector (p in this example). this means that you could ensure the first paragraph of a block of several paragraphs could be bold, etc.*/

/*there are also :last-child, :only-child, and :invalid pseudo-classess*/

p:nth-child(odd/even/math) /*this selects alternating childs*/
p:empty{} /*this selects all empty p elements on a page*/

/*user action pseudo-classes*/
:hover /*this applies when the mouse is hovering over something*/

:focus /*this applies if the user focuses the element by clicking or using a keystroke*/

:active /*applies to elements that are currently being clicked, and is especially useful for giving your user feedback that their action had an effect. This is a great one to give your buttons and other interactive elements more ‘tactile’ feedback.*/

/*pseudo-classes*/
/*pseudo-classes are temporary elements that are generated in the css*/

article p::first-line {font-weight: bold;}

    /*this changes the first line of a p element to bold. this would change the first line of each paragraph, which is not always wanted. we can also do a pseudo-element and a pseudo-class together*/

    article p:first-child::first-line {
        font-weight: bold;
    }

    /*this makes the first line of the first paragraph in the article element bold*/

    /*adding content to an element with pseudo-classes*/

    .box::before {content: 'xyz'} /*this adds text to an element. ::before adds the text before existing text, and ::after adds it after! you don't really want to add text this way, as screen readers can't read it; however, you can use this to add icons like copyright symbols etc. as you don't need screen readers to read those*/

    /*this site has the css to generate a box with an arrow on one side. for callouts etc. https://cssarrowplease.com/*/

a {text-decoration: underline;} a:link {color:blue;} a:after{color: purple;} /*this is how default link styling is done on webpages*/



