/* Variables and Properties in css */
/* You want to use variables because then you can set something, like a color pallete, once. When it's set you can then reference it multiple times in your document, tweaking the initial declaration if you want to tweak a color instead of every instance of that declaration. */
/* Variables are not universal if you don't put them in :root. This means that you can declare variables in a div that will only be usable by child elements. */

:root {
    /* Use this space to declare variables. */
    --background-color-main: aliceblue;
    --main-border: 2px solid black;
    --border: 2px solid blue;
}

main {
    background-color: var(--background-color-main);
    border: var(--main-border);
    /* You can later call variables using the var() function. */
}

/* var() takes two inputs, the main declaration and a fallback value. This can be its own variable with its own fallback value */

main {
    background-color: var(--background-color-main, white);
    border: var(--main-border, var(--border, green));
}

:root {
    --border-btn: 1px solid rgb(36, 36, 36);
    --color-base-bg: rgb(240, 240, 240);
    --color-base-text: rgb(18, 18, 18);
    --color-btn-bg: rgb(220, 220, 220);
    --theme-name: "light";}

@media (prefers-color-scheme: dark) {
    :root {
        --border-btn: 1px solid rgb(220, 220, 220);
        --color-base-bg: rgb(18, 18, 18);
        --color-base-text: rgb(240, 240, 240);
        --color-btn-bg: rgb(36, 36, 36);
        --theme-name: "dark";
      }
    /* This checks if the system/browser is using a dark theme. If so, it will default to that. Otherwise it will use the above light theme. */
}